@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is our sample web application - Version 2 (Deployment Slot).</h1>
    @if (!string.IsNullOrWhiteSpace(Model.Teste))
    {
        <h2>@Model.Teste</h2>    
    }
</div>
